/*nav barre*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Cairo'; }

nav {
  background-image: url(/Design/Assets/png/bar.png); }

.logo {
  padding: 10px 80px; }

nav ul {
  float: right;
  margin-right: 80px; }

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px; }

nav ul li a {
  cursor: pointer;
  color: #2B2B2C;
  font-size: 18px;
  padding: 7px 13px; }

.conseils:hover {
  color: #1078AD;
  font-weight: bold; }

.active {
  font-weight: bold;
  color: #1078AD; }

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

@media (max-width: 952px) {
  nav ul li a {
    font-size: 16px; } }

@media (max-width: 858px) {
  .checkbtn {
    display: block; }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #F4CF1B;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s; }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px; }
  nav ul li a {
    font-size: 20px; }
  #check:checked ~ ul {
    left: 0; } }

/*nav barre*/
.infoMedicale {
  background-color: #F4CF1B; }
  .infoMedicale--title {
    text-align: center;
    text-transform: uppercase;
    color: #1078AD;
    padding-top: 20px;
    font-size: 1.6rem; }
  .infoMedicale--para {
    text-align: center;
    padding: 10px 240px 20px;
    line-height: 1.6em; }

.heroHeader {
  margin: 40px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr; }
  .heroHeader__right--img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px; }
  .heroHeader__right--title {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    font-weight: 700;
    color: #1078AD;
    padding-bottom: 30px; }
  .heroHeader__right--para {
    font-size: 18px;
    color: #7F7F7F;
    text-align: center;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 40px; }

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: rgba(150, 197, 220, 0.5);
  border: none;
  color: #1078AD;
  padding: 5px 184px;
  border: 2px solid #1078AD;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bolder; }

.button:hover {
  color: #FFFFFF;
  background-color: #1078AD; }
