.error{
    &__background{
        display: block;
        margin: 40px auto;
        width: 40%;
        height: auto;

    }
    &__title{
        color: $colorP;
        font-size: 48px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
    }
    &__button{
        width: 20%;
        background-color: $colorP;
        padding: 8px 40px;
        border-radius: 0px;
    }
    &__button:hover{
        border: 2px solid $colorA;
        background-color: $colorA;
    }
    &__button--link{
        font-size: 24px;
        color: $colorW;
    }
}

@media (max-width: 575px){
    .error{
        &__background{
            width: 80%;
            height: 100%;
        }
        &__title{
            font-size: 32px;
        }
        &__button{
            width: 60%;
        }
    }

}