button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color:rgba($color: $color-accent, $alpha: .5);
    border: none;
    color: $color-primary;
    padding: 8px 184px;
    border: 2px solid $color-primary;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
  }
  button:hover{
      color: $footer-color;
      background-color: $color-primary;
  }