.protection{
    img{
        width: 105px;
        height: 105px;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    &__title{
        text-align: center;
        color: $color-primary;
        padding-top: 40px;
        margin-right: 120px;
        margin-left: 120px
        ;
    }
    &__wrapper{
        margin:40px 120px 40px 120px;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 24% 10% 24% 10% 24% 10% 24% 10%;
    }
    &__wrapper--icn1{
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: auto;
        margin-right: auto;
    }
    &__icn1--title{
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
        font-size: 14px;
        color: $color-primary;
        font-weight: 700;
    }
    &__wrapper--icn2{
        grid-column: 2/3;
        grid-row: 1/2;
        margin-left: auto;
        margin-right: auto;
    }
    &__icn2--title{
        grid-column: 2/3;
        grid-row: 2/3;
        text-align: center;
        font-size: 14px;
        color: $color-primary;
        font-weight: 700;
    }
    &__wrapper--icn3{
        grid-column: 3/4;
        grid-row: 1/2;
        margin-left: auto;
        margin-right: auto;
    }
    &__icn3--title{
        grid-column: 3/4;
        grid-row: 2/3;
        text-align: center;
        font-size: 14px;
        color: $color-primary;
        font-weight: 700;
    }
    &__wrapper--icn4{
        grid-column: 1/2;
        grid-row: 3/4;
        margin-left: auto;
        margin-right: auto;
    }
    &__icn4--title{
        grid-column: 1/2;
        grid-row: 4/5;
        text-align: center;
        font-size: 14px;
        color: $color-primary;
        font-weight: 700;
    }
    &__wrapper--icn5{
        grid-column: 2/3;
        grid-row: 3/4;
        margin-left: auto;
        margin-right: auto;
    }
    &__icn5--title{
        grid-column: 2/3;
        grid-row: 4/5;
        text-align: center;
        font-size: 14px;
        color: $color-primary;
        font-weight: 700;

    }
    &__wrapper--icn6{
        grid-column: 3/4;
        grid-row: 3/4;
        margin-left: auto;
        margin-right: auto;
    }
    &__icn6--title{
        grid-column: 3/4;
        grid-row: 4/5;
        text-align: center;
        font-size: 14px;
        color: $color-primary;
        font-weight: 700;
    }
    &__wrapper--icn7{
        grid-column: 2/3;
        grid-row: 5/6;
        margin-left: auto;
        margin-right: auto;
    }
    &__icn7--title{
        grid-column: 2/3;
        grid-row: 6/7;
        text-align: center;
        font-size: 14px;
        color: $color-primary;
        font-weight: 700;
    }

}


.informations{
    background-color: rgba($color: $color-accent, $alpha: .4);
    padding-bottom: 40px;
    margin-bottom: 20px;
       &__title{
        padding-top: 20px;
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        color: $color-primary;
    }
    &__para{
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        color: #1A519E;
    }
    &__link{
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding-top: 2px;
        padding-bottom: 2px;
        text-decoration: none;
        color: $footer-color;
        text-align: center;
        font-weight: 700;
        background-image: url(/Design/Assets/png/btn-bg.png);
        width: 424px;
    }
    &__link:hover{
        color: $color-secondary;
    }
}