.heroFooter{
    background-color: $color-accent;
    margin-top: -10px;
    padding-bottom: 20px;
    &__title{
        padding-top: 20px;
        color: $footer-color;
        text-align: center;
    }
    &__emoji{
        padding-top: 20px;
        padding-bottom: 20px;
        display: block;
        margin-left:auto;
        margin-right: auto;
    }
    &__button{
        width: 40%;
    }
}