.heroFooter{
    background-color: $colorA;
    margin-top: -10px;
    padding-bottom: 20px;
    &__title{
        padding-top: 20px;
        color: $colorP;
        text-align: center;
        font-size: 24px;
        font-weight: 900;
    }
    &__emoji{
        padding-top: 20px;
        padding-bottom: 20px;
        display: block;
        margin-left:auto;
        margin-right: auto;
    }
    &__button{
        width: 40%;
    }
}

@media only screen and (max-width: 575px){
    .heroFooter{
        &__title{
            line-height: 1.4em;
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 10px;
        }
        &__emoji{
            margin-bottom: 10px;
        }
        &__button{
            width: 80%;
        }
    }
}

@media (min-width: 768px){
    .heroFooter{
        &__title{
            margin-left: 40px;
            margin-right: 40px;
            line-height: 1.4em;
            font-weight: 700;
            font-size: 26px;
        }
        &__button{
            margin-bottom: 20px;
        }
    }
}