/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Cairo';
}

nav {
  background-image: url(/Design/Assets/png/bar.png);
  padding: 0px 3vw;
  background-repeat: no-repeat;
  background-size: cover;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $colorD;
  font-size: 18px;
}
a:hover{
  font-weight: 900;
  color: $colorP;
}
.lang{
  width: 32px;
  height: 32px;
  margin-top: 12px;
}
.logo img{
  width: 72px;
  height: auto;
}

.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}
.actv{
  font-weight: 900;
  color: $colorP;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  order: 1;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}
.lang{
  margin-left: 210px;
  margin-top: 18px;
  margin-right: 0px;
}
.logo img{
  width: 72px;
  height: auto;
  margin-top: 12px;
}

/* Navbar Toggle */

.toggle {
  cursor:pointer;
}
.bars {
  background: $colorD;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
.bars:before,
.bars:after {
  background: $colorD;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.bars:before {
  top: 5px;
}
.bars:after {
  top: -5px;
}

/* Tablet menu */
@media  (min-width: 768px) {
  .logo img{
    width: 240px;
    height: auto;
  }
  .menu {
      justify-content: center;
  }

  .logo {
      flex: 1;
  }

  .toggle {
      order: 2;
  }

}

/* Desktop menu */
@media all and (min-width: 768px) {
  .lang{
    margin-right: 30px;
    margin-top: 12px;
  }
  .logo img{
    width: 16%;
    height: auto;
  }
  .item {
      display: block;
      width: auto;
  }
  .toggle {
      display: none;
  }
  .logo {
      order: 0;
  }
  .item {
      order: 1;
  }
  .menu li {
      padding: 15px 10px;
  }
  .menu li.button {
      padding-right: 0;
  }
}