.recommandations{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $colorP;
    &__title{
        color: $colorW;
        text-align: center;
    }
    &__para{
        color: $colorW;
        text-align: center;
        margin:20px 600px 20px 0px;
        font-weight: 700;
    }
    &__wrapper{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
.wrapper{
    &__left{
        grid-area: 1/1;
        display: grid;
        grid-template-columns: 10% 90%;
    }
    &__left--war1,&__left--war2,&__left--war3,&__left--war4,&__left--war5{
        color: $colorS;
        margin-left: auto;
        margin-right: auto;
    }
    &__left--rec1,&__left--rec2,&__left--rec3,&__left--rec4,&__left--rec5{
        color: $colorW;
    }
    &__right{
        font-size: 20px;
        text-align: center;
        grid-area: 1/2;
        margin-left: auto;
        margin-right: auto;
        &--appelez{
            color: $colorS;
        }
        &--pr1,&--pr2,&--pr3{
            display: block ;
            background-color: $colorS;
            color: $colorP;
            font-weight: 900;
            margin-top: 10px;
        }
        &--link{
            color: $colorW;
        }
        &--link:hover{
            color: $colorS;
        }
    }
}