.recommandations{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $colorP;
    &__title{
        color: $colorW;
        text-align: center;
    }
    &__para{
        color: $colorW;
        text-align: center;
        margin:20px 600px 20px 0px;
        font-weight: 700;
    }
    &__wrapper{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
.wrapper{
    &__left{
        grid-area: 1/1;
        display: grid;
        grid-template-columns: 10% 90%;
    }
    &__left--war1,&__left--war2,&__left--war3,&__left--war4,&__left--war5{
        color: $colorS;
        font-weight: 900;
        margin-left: auto;
        margin-right: auto;
    }
    &__left--rec1,&__left--rec2,&__left--rec3,&__left--rec4,&__left--rec5{
        color: $colorW;
    }
    &__right{
        font-size: 20px;
        text-align: center;
        grid-area: 1/2;
        margin-left: auto;
        margin-right: auto;
        &--appelez{
            color: $colorS;
        }
        &--pr1,&--pr2,&--pr3{
            display: block ;
            background-color: $colorS;
            color: $colorP;
            font-weight: 900;
            margin-top: 10px;
        }
        &--link{
            color: $colorW;
        }
        &--link:hover{
            color: $colorS;
        }
    }
}

@media only screen and (max-width: 575px){
    .recommandations{
        &__title{
            font-weight: bold;
            font-size: 22px;
        }
        &__para{
            margin: 20px 10px 30px 10px;
        }
        &__wrapper{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 50% 50%;
        }
    }
    .wrapper{
        &__left{
            grid-area: 1/1;
            margin-bottom: 60px;
        }
        &__right{
            grid-area: 2/1;
            &--appelez{
                font-size: 22px;
            }
            &--pr1,&--pr2,&--pr3{
                padding-left: 32px;
                padding-right: 32px;
                font-size: 22px;
            }
            &--link{
                font-size: 22px;
            }
        }
    }
}


@media (min-width: 575px)and(max-width: 1024px){
    .recommandations{
        &__title{
            font-size: 24px;
        }
        &__para{
            margin: 20px 100px 20px 0px;
        }
        &__wrapper{
            width: 90%;
        }
    }
}


.recommandationsAr{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $colorP;
    &__title{
        color: $colorW;
        text-align: center;
    }
    &__para{
        color: $colorW;
        text-align: right;
        font-weight: 700;
        margin: 20px 170px;
    }
    &__wrapperAr{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
.wrapperAr{
    &__left{
        grid-area: 1/2;
        display: grid;
        grid-template-columns: 90% 10%;
    }
    &__left--war1,&__left--war2,&__left--war3,&__left--war4,&__left--war5{
        color: $colorS;
        font-weight: 900;
        margin-left: auto;
        margin-right: auto;
        grid-column: 2/3;
    }
    &__left--rec1,&__left--rec2,&__left--rec3,&__left--rec4,&__left--rec5{
        color: $colorW;
        grid-column: 1/2;
        text-align: right;
    }
    &__left--rec1{
        grid-area: 1/1;
    }
    &__left--rec2{
        grid-area: 2/1;
    }
    &__left--rec3{
        grid-area: 3/1;
    }
    &__left--rec4{
        grid-area: 4/1;
    }
    &__left--rec5{
        grid-area: 5/1;
    }
    &__right{
        font-size: 20px;
        text-align: center;
        grid-area: 1/1;
        margin-left: auto;
        margin-right: auto;
        &--appelez{
            color: $colorS;
        }
        &--pr1,&--pr2,&--pr3{
            display: block ;
            background-color: $colorS;
            color: $colorP;
            font-weight: 900;
            margin-top: 10px;
        }
        &--link{
            color: $colorW;
        }
        &--link:hover{
            color: $colorS;
        }
    }
}