.wrapper {
    width: 70%;
    margin: 80px auto 20px;
}
.stepper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    h1 {
        font-size: 20px;
        color: $colorP;
        position: relative;
        display: flex;
        justify-content: center;

        &::before {
            content: '';
            height: 16px;
            width: 16px;
            background-color: $colorP;
            border-radius: 100%;
            position: absolute;
            top: -25px;
        }

        &::after {
            content: '';
            height: 16px;
            width: 16px;
            background-color: $colorA;
            border-radius: 100%;
            position: absolute;
            top: -25px;
            z-index: -1;
            transition: all 0.3s ease;
        }
    }

    .select {
        &::before {
            content: '';
            height: 22px;
            width: 22px;
            background-color: $colorS;
            border-radius: 100%;
            position: absolute;
            top: -30px;
            z-index: 100;
        }

        &::after {
            content: '';
            height: 48px;
            width: 48px;
            background-color: $colorA;
            border-radius: 100%;
            position: absolute;
            top: -43px;
            z-index: 1;
        }
    }
}

.Préambule {
    width: 64%;
    text-align: center;
    background-color: $colorQ;
    margin: 0 auto 20px;
    padding: 20px 40px;
    border-radius: 8px;
    &--para1 {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.6em;
        padding-bottom: 10px;
    }
    &--para2 {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.6em;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    h1 {
        font-size: 28px;
        font-weight: bolder;
        color: $colorP;
    }

    hr {
        width: 55%;
        margin: 0 auto;
        border: 2px solid $colorS;
    }

}

.start-btn {
    width: 20%;
    font-weight: bolder;
    color: $colorW;
    background-color: $colorP;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        color: $colorP;
        background-color: transparent;
    }
}

.questionnaire {
    width: 64%;
    border: 1px solid;
    margin: 20px auto;
    border-radius: 8px;
    display: none;

    h1 {
        text-align: center;
        font-size: 24px;
        line-height: 1.8rem;
        color: $colorG;
        font-weight: 600;
        width: 80%;
        margin: 20px auto;
    }

    .progress {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $colorG;
        padding: 7px 0;
        background-color: $colorW;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        h3 {
            font-weight: bolder;
            margin-right: 15px;
        }

        &__bar {
            width: 90%;
            height: 10px;
            border-radius: 20px;
            background-color: $colorA;

            .bar {
                height: 100%;
                width: calc(1* calc(100% / 22));
                background-color: $colorP;
                border-bottom-left-radius: 20px;
                border-top-left-radius: 20px;
                transition: all 0.4s ease;
            }
        }
    }

}

.answer-inputs {
    width: 30%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    input[type="number"] {
        font-size: 16px;
        border: 2px solid $colorP;
        padding: 10px;
        font-weight: 600;
        width: 55%;
    }

    .input-span {
        width: 50%;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        border: 2px solid $colorP;
        border-left: none;
        background-color: $colorA;
        padding: 10px;
    }

    input[type="radio"] {
        -webkit-appearance: none;

    }

    input[type="radio"]:checked+label {
        background-color: $colorP;
        color: $colorS;
    }

    label {
        margin: 0 10px;
        height: 72px;
        width: 88px;
        color: $colorP;
        border-radius: 4px;
        border: 4px solid $colorP;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        transition: 0.5s ease;

        span {
            font-size: 16px;
            font-weight: 900;
        }
    }
}

.btn-container {
    margin: 40px auto;
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    .next {
        grid-area: 1/3;
    }
    button {
        width: 40%;
        font-size: 16px;
        background-color: $colorA;
        padding: 10px 20px;
        color: $colorD;
        border: 1px solid $colorP;
        border-radius: 4px;
        transition: 0.3s ease;

        &:hover {
            background-color: $colorP;
            color: white;
        }
    }
}

@media only screen and (max-width: 575px) {
    .wrapper {
        width: 90%;
    }
    .stepper {
        h1 {
            font-size: 16px;
            &::before {
                height: 12px;
                width: 12px;
                top: -20px;
            }
            &::after {
                height: 12px;
                width: 12px;
                top: -20px;
            }
        }
        .select {
            &::before {
                height: 16px;
                width: 16px;
                top: -25px;
            }
            &::after {
                height: 32px;
                width: 32px;
                top: -33px;

            }
        }
    }
    .Préambule {
        width: 80%;
        text-align: center;
        padding: 20px;
        &--para1,
        &--para2 {
            text-align: justify;
            text-align-last: center;
        }
        hr {
            width: 80%;
            margin: 10px auto;
        }

    }
    .start-btn{
        width: 40%;
    }
}
