.symptomes {
    margin: 0 80px 80px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 45% 45%;
    &__title {
        font-size: 28px;
        grid-column: 1/3;
        text-align: center;
        letter-spacing: 0;
        color: $colorP;
        margin-bottom: 40px;
    }
    &__symp1 {
        grid-column: 1/2;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 40px;
    }
    &__symp1--title {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0;
        color: $colorP;
    }
    &__symp2 {
        grid-column: 2/3;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 40px;
    }
    &__symp2--title {
        margin-left: -40px;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0;
        color: $colorP;
    }
    &__symp3 {
        grid-column: 1/2;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 40px;
    }
    &__symp3--title {
        padding-left: 10px;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0;
        color: $colorP;
    }
    &__symp4 {
        grid-column: 2/3;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 40px;
    }
    &__symp4--title {
        margin-left: -20px;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0;
        color: $colorP;
    }

}

@media only screen and (max-width: 575px){
    .symptomes{
        display: grid;
        grid-template-rows: 16% 40% 40%;
        margin: 0px;
        &__title{
            font-size: 26px;
            line-height: 1.2em;
            font-weight: 900;
            margin-top: auto;
            margin-bottom: auto;
        }
        &__symp1--img,&__symp2--img,&__symp3--img,&__symp4--img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: auto;
            height: 20vw;
            padding-top: 10px;
        }
        &__symp1--title,&__symp2--title,&__symp3--title,&__symp4--title{
            font-size: 16px;
            text-align: center;
            margin: 0px;
            padding: 0px;;
        }
        &__symp2--title,&__symp4--title{
            line-height: 1.2em;
            margin-left: 40px;
            margin-right: 40px;
        }
    }
    
}
