$color-primary: #1078AD;
$color-secondary: #F4CF1B;
$color-accent: #96C5DC;
$color-gry: #7F7F7F;
$color-dark:#2B2B2C;
$color-ver:#369D53;
$footer-color: #FFFFFF;
$main-box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.1);
$trans-cubic: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); //des transitions sur les boutons