.about_cronacvirus_promo_area {
    padding: 40px 0;
    position: relative;
    z-index: 1;
    direction: rtl;
    .bg_img {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -2;
        width: 49%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        .shap {
            max-width: 100%;
            z-index: -1;
        }
        .shap_img_two {
            li {
                position: absolute;
                z-index: -1;
                &:nth-child(1) {
                    right: 0;
                    bottom: 65px;
                }
                &:nth-child(2) {
                    bottom: 345px;
                    right: 100px;
                    animation: scale 2s linear 0s infinite alternate;
                }
                &:nth-child(3) {
                    bottom: 90px;
                    right: 300px;
                    animation: covidmove 3s linear 0s infinite both;
                }
                &:nth-child(4) {
                    bottom: 330px;
                    right: 290px;
                }
                &:nth-child(5) {
                    right: 0;
                    bottom: 520px;
                }
            }
        }
    }
    .shap_img {
        li {
            position: absolute;
            z-index: -1;
            &:nth-child(1) {
                right: -220px;
                bottom: 70px;
            }
            &:nth-child(2) {
                top: 305px;
                right: 120px;
                animation: covidmove 4s linear 1s infinite both;
            }
            &:nth-child(3) {
                top: 220px;
                right: 20px;
                animation: covidmove 5s infinite;
            }
        }
    }
}

.t-right {
    text-align: right !important;
}

.coronavirus_promo_content {
    h5 {
        font-size: 21px;
        color: $baseColor;
        font-weight: 600;
        margin-bottom: 5px;
        text-align: right;
    }
    h2 {
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 15px;
        text-align: right;
    }
    .home_option {
        margin-top: 45px;
        margin-bottom: 15px;
        .col-lg-6 {
            margin-bottom: 50px;
        }
        .media {
            .media-body {
                h4 {
                    margin-bottom: 3px;
                    text-align: right;
                }
            }
        }
    }
    h3 {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: right;
    }
}

.about_features_area {
    padding: 80px 0 40px;
    direction: rtl;
}
.about_features_item {
    text-align: center;
    .round_icon {
        position: relative;
        z-index: 1;
        margin-bottom: 54px;
        &:before {
            content: "";
            width: 170px;
            height: 170px;
            background: #fff;
            box-shadow: 0 10px 40px 0 rgba(51, 48, 78, 0.15);
            border-radius: 50%;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            position: absolute;
            z-index: -1;
        }
    }
    h5 {
        font-size: 18px;
        line-height: 30px;
        font-weight: 500;
        color: $baseColor;
        margin-bottom: 2px;
    }
    h3 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 18px;
    }
    p {
        margin-bottom: 13px;
    }
    .text_btn {
        i {
            font-size: 14px;
        }
    }
}

.home_about_corona {
    padding-top: 50px;
    .home_ab_img {
        padding-top: 50px;
    }
    .home_ab_text {
        .home_ab_text_inner {
            .home_ab_item {
                h6 {
                    color: $baseColor;
                    font: 500 18px $sand;
                    margin-bottom: 4px;
                }
                h4 {
                    font: 700 30px $sand;
                    margin-bottom: 13px;
                    text-align: right;
                }
                p {
                    margin-bottom: 0;
                    text-align: right;
                }
                &:last-child {
                    margin-bottom: 0;
                    h4 {
                        margin-bottom: 3px;
                    }
                    p {
                        margin-bottom: 14px;
                    }
                }
            }
        }
        &.how_to_use {
            .home_ab_text_inner {
                padding-top: 40px;
                .home_ab_item {
                    h4 {
                        font: 700 24px $sand;
                        margin-bottom: 8px;
                    }
                    p {
                        font-style: italic;
                    }
                    .nav {
                        li {
                            margin-bottom: 15px;
                            a {
                                padding-left: 25px;
                                position: relative;
                                display: block;
                                font: 400 16px/28px $sand;
                                color: $pfont;
                                i {
                                    position: absolute;
                                    left: 0;
                                    top: 6px;
                                    font-size: 16px;
                                    color: $baseColor;
                                }
                            }
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
.symptom_instruction_text {
    padding-top: 40px;
    h4 {
        font: 700 24px $sand;
        margin-bottom: 8px;
    }
}

.about_corona_aera {
  direction: rtl;
  .home_ab_img {
    padding-top: 35px;
    position: relative;
  }
  .home_ab_text {
    .home_ab_text_inner {
      padding-top: 35px;
      padding-bottom: 52px;
      .home_ab_item {
        h4 {
          font-size: 36px;
          padding-bottom: 15px;
        }
      }
    }
    .symptoms_about_inner {
      padding-right: 54px;
      padding-top: 50px;
      .home_ab_item {
        h6 {
          font-size: 24px;
        }
        h4 {
          font-size: 48px;
        }
        .green_btn {
          margin-top: 24px;
        }
      }
    }
  }
}

.covid_img {
  position: absolute;
  &.one {
    right: 45px;
    bottom: 35px;
    animation: covidmove 5s infinite;
  }
  &.two {
    bottom: 80px;
    left: 25px;
    animation: covidmove 6s linear 0.3s infinite;
  }
  &.three {
    left: 45px;
    bottom: 225px;
    animation: rotate 1s linear 0.3s infinite;
  }
  &.four {
    right: 25px;
    bottom: 198px;
    animation: covidmove 6s linear 0.3s infinite;
  }
  &.five {
    right: 0;
    top: 200px;
  }
  &.six {
    left: 0px;
    top: 190px;
  }
  &.seven {
    left: 105px;
    top: 60px;
    animation: rotate 1s linear 1s infinite;
  }
  &.eight {
    right: 60px;
    top: 90px;
    animation: covidmove 6s linear 0.3s infinite;
  }
}

@keyframes covidmove {
  0% {
    transform: translateY(0px) rotate(180deg);
  }
  25% {
    transform: translateY(-50px) translateX(-10px);
  }
  50% {
    transform: translateY(-50px) translateX(-10px) rotate(-45deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@keyframes scale {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.02);
  }
}