.about_cronacvirus_promo_area {
    padding: 40px 0;
    position: relative;
    z-index: 1;
    direction: rtl;
    .bg_img {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -2;
        width: 49%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        .shap {
            max-width: 100%;
            z-index: -1;
        }
        .shap_img_two {
            li {
                position: absolute;
                z-index: -1;
                &:nth-child(1) {
                    right: 0;
                    bottom: 65px;
                }
                &:nth-child(2) {
                    bottom: 345px;
                    right: 100px;
                    animation: scale 2s linear 0s infinite alternate;
                }
                &:nth-child(3) {
                    bottom: 90px;
                    right: 300px;
                    animation: covidmove 3s linear 0s infinite both;
                }
                &:nth-child(4) {
                    bottom: 330px;
                    right: 290px;
                }
                &:nth-child(5) {
                    right: 0;
                    bottom: 520px;
                }
            }
        }
    }
    .shap_img {
        li {
            position: absolute;
            z-index: -1;
            &:nth-child(1) {
                right: -220px;
                bottom: 70px;
            }
            &:nth-child(2) {
                top: 305px;
                right: 120px;
                animation: covidmove 4s linear 1s infinite both;
            }
            &:nth-child(3) {
                top: 220px;
                right: 20px;
                animation: covidmove 5s infinite;
            }
        }
    }
}

.t-right{
    text-align: right !important;
}

.coronavirus_promo_content {
    h5 {
      font-size: 21px;
      color: $baseColor;
      font-weight: 600;
      margin-bottom: 5px;
      text-align: right;
    }
    h2 {
      font-size: 36px;
      line-height: 48px;
      margin-bottom: 15px;
      text-align: right;
    }
    .home_option {
      margin-top: 45px;
      margin-bottom: 15px;
      .col-lg-6 {
        margin-bottom: 50px;
      }
      .media {
        .media-body {
          h4 {
            margin-bottom: 3px;
            text-align: right;
          }
        }
      }
    }
    h3 {
      font-size: 24px;
      margin-bottom: 20px;
      text-align: right;
    }
  }
