.breadcrumb_area {
  position: relative;
  background: linear-gradient(
      rgba(245, 245, 249, 0.55),
      rgba(245, 245, 249, 0.55)
    ),
    url(../images/breadcrumb.jpg);
  background-size: cover;
  text-align: center;
  padding-top: 115px;
  padding-bottom: 45px;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 2;
  .breadcrumb_text {
    // position: relative;
    // z-index: 2;
    h6 {
      color: $baseColor;
      font: 700 18px $sand;
    }
    h3 {
      font: 700 40px $sand;
    }
    .nav {
      margin-bottom: 0px;
      direction: rtl;
      li {
        margin-left: 30px;
        &:first-child {
          a {
            color: $pfont;
            font-weight: 400;
            &:after {
              display: none;
            }
          }
        }
        a {
          color: $pfont;
          font: 600 14px $sand;
          position: relative;
          &:after {
            content: ">";
            position: absolute;
            font-family: "Linearicons" !important;
            right: -22px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 10px;
            color: $pfont;
          }
        }
      }
    }
  }
  .doctors_bio {
    margin-bottom: -45px;
    margin-top: 45px;
  }
  &.boi_breadcrumb {
    background: linear-gradient(
        rgba(245, 245, 249, 0.55),
        rgba(245, 245, 249, 0.55)
      ),
      url(../images/breadcrumb-2.jpg);
  }
  &.dark_breadcrumb {
    background: #58547e;
    padding-bottom: 70px;
    padding-top: 120px;
    .tp_img {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
    .breadcrumb_text {
      color: #fff;
      padding-bottom: 65px;
      .nav {
        li {
          a {
            color: #fff;
            &:before {
              color: #fff;
            }
          }
          &:last-child {
            a {
              color: #d0cced;
            }
          }
        }
      }
    }
  }
}
