.footer_copyright {
  background: #e8e8f0;
  text-align: center;
  padding: 16px 0px;
  p {
    font: 500 13px $sand;
    color: #8d8aa8;
    display: inline-block;
    position: relative;
    margin-right: 15px;
    margin-bottom: 0px;
    &:before {
      content: "|";
      position: absolute;
      right: -10px;
      top: 50%;
      transform: translateY(-50%);
      color: #8d8aa8;
    }
  }
  .nav {
    display: inline-block;
    li {
      display: inline-block;
      margin-right: 13px;
      &:last-child {
        margin-right: 0px;
      }
      a {
        color: #8d8aa8;
        font: 700 13px $sand;
        @include transition;
        &:hover {
          color: $baseColor;
        }
      }
    }
  }
  h6 {
    margin-bottom: 0px;
    font: 500 13px $sand;
    color: #8d8aa8;
    margin-top: 15px;
    i {
      color: #fa4d6e;
    }
    span {
      font-weight: bold;
    }
  }
}
