.protect_yourself_area{
  padding-top: 56px;
  padding-bottom: 56px;
  direction: rtl;
}

.protect_inner {
    .protect_list_inner {
      margin-bottom: 55px;
    }
    .main_title {
      margin-bottom: 45px;
      h5 {
        font: 500 18px $sand;
      }
      h2 {
        font: 700 36px $sand;
        margin-bottom: 0px;
        text-align: right;
      }
    }
    .protect_img {
      position: relative;
      z-index: 2;
      .nav {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        li {
          position: absolute;
          &:nth-child(1) {
            left: 28px;
            bottom: 90px;
            animation: rotate 3s linear 0.3s infinite;
          }
          &:nth-child(2) {
            left: 45px;
            top: 55%;
          }
          &:nth-child(3) {
            left: 0px;
            top: 200px;
          }
          &:nth-child(4) {
            left: 114px;
            top: 159px;
            z-index: -1;
          }
          &:nth-child(5) {
            left: 117px;
            top: 35px;
            animation: rotate 1s linear 1s infinite;
          }
          &:nth-child(6) {
            right: 108px;
            top: 160px;
            z-index: -1;
            animation: rotate 5s linear 1s infinite;
          }
          &:nth-child(7) {
            right: 45px;
            bottom: 45px;
            animation: covidmove 6s linear 0.3s infinite;
          }
          &:nth-child(8) {
            right: 25px;
            top: 55%;
          }
          &:nth-child(9) {
            right: 10px;
            top: 190px;
          }
          &:nth-child(10) {
            right: 60px;
            top: 60px;
            animation: covidmove 6s linear 0.3s infinite;
          }
        }
      }
    }
  }
  .protect_list_item {
    .protect_list_title {
      margin-bottom: 25px;
      h3 {
        font: 700 24px $sand;
        color: $baseColor;
        margin-bottom: 10px;
        text-align: right;
      }
      h6 {
        font: 400 14px $sand;
        color: $blue;
        margin-bottom: 0px;
        text-align: right;
      }
    }
    .nav {
      padding-right: 0px;
      li {
        margin-bottom: 25px;
        text-align: right;
        a {
          font: 500 18px $sand;
          color: $pfont;
          position: relative;
          padding-left: 38px;
          display: block;
          font-weight: 400;
          i {
            font-size: 24px;
            color: $baseColor;
            padding-right: 0px;
            position: absolute;
            left: 0px;
            top: 1px;
          }
        }
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
    &.red {
      .protect_list_title {
        h3 {
          color: #e4133f;
        }
      }
      .nav {
        li {
          a {
            i {
              color: #e4133f;
            }
          }
        }
      }
    }
  }
  .protect_self_text {
    h3 {
      font: 700 30px $sand;
      margin-bottom: 16px;
      text-align: right;
    }
    p {
      color: $blue;
      font: 500 16px/32px $sand;
      margin-bottom: 20px;
      text-align: right;
    }
  }