button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color:rgba($color: $colorA, $alpha: .5);
    border: none;
    color: $colorP;
    padding: 8px 184px;
    border: 2px solid $colorP;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
  }
  button:hover{
      color: $colorW;
      background-color: $colorP;
  }

  @media only screen and (max-width: 575px){
      button{
          display: block;
          margin-left: auto;
          margin-right: auto;
          padding: 4px;
          width: 80%;
          margin-bottom: 40px;

      }
  }

  @media (max-width: 768px){
      button{
          padding: 2px 40px;
          width: 80%;
      }
  }